
<div class="login-container-custom">
  <h2 class="login-header">Log In</h2>

  <div class="login-buttons-container">
    <% unless doctor_signed_in? || patient_signed_in? %>
      <%= link_to "I am User", patient_session_path, class: "login-button type=button" %>
      <%= link_to "I am Doctor", doctor_session_path, class: "login-button type=button" %>
    <% end %>
  </div>
</div>
